




<thead>
<tr>
    <th>Nombre</th>

    <th>Tipo</th>

    <th>Código de Activo</th>

    <th>Fecha de Adquisición</th>
</tr>
</thead>
<tbody>
<tr th:each="equipo : ${equipos}">

    <td th:text="${equipo.nombre}">
        Nombre
    </td>

    <td th:text="${equipo.tipo}">
        Tipo
    </td>

    <td th:text="${equipo.codigoActivo}">
        Código
    </td>

    <td th:text="${equipo.fechaAdquisicion}">
        Fecha
    </td>

</tr>

<tr th:if="${#lists.isEmpty(equipos)}">

    <td colspan="4">
        No existen equipos registrados.
    </td>

</tr>

</tbody>