<meta charset="UTF-8">

<title>Equipos Registrados</title>

<style>

    body {
        font-family: Arial, sans-serif;
        margin: 40px;
        background-color: #D4D4D4;
    }
    .container {
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 30px;
        border-radius: 10px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        padding: 8px;
        border: 2px solid #ccc;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    th {
        background-color: #eee;
    }

    .acciones {
        margin-bottom: 20px;
    }

</style>

<a th:href="@{/equipos/nuevo}">Registrar nuevo equipo</a>

&nbsp; | &nbsp;

<a th:href="@{/equipos/buscar}">Buscar equipo</a>

<pre>

</pre>

<body>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Código de Activo</th>
            <th>Fecha de Adquisición</th>
        </tr>

        <tr th:each="equipo : ${equipos}">

            <td th:text="${equipo.nombre}">
                Nombre
            </td>

            <td th:text="${equipo.tipo}">
                Tipo
            </td>

            <td th:text="${equipo.codigoActivo}">
                Código
            </td>

            <td th:text="${equipo.fechaAdquisicion}">
                Fecha
            </td>
        <tr th:if="${#lists.isEmpty(equipos)}">

            <td colspan="4">No existen equipos registrados.</td>
        </tr>
    </table>

</body>

