<meta charset="UTF-8">

<title>Registro</title>

<style>

    body {
        font-family: Arial, sans-serif;
        margin: 40px;
        background-color: #D4D4D4;
    }

    .container {
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 30px;
        border-radius: 10px;
    }

    h1 {
        text-align: center;
    }

    label {
        display: block;
        margin-top: 15px;
    }

    input, select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    button {
        margin-top: 20px;
        padding: 12px;
        width: 100%;
        cursor: pointer;
    }

    .mensaje {
        margin-top: 20px;
        padding: 10px;
        background: #d4edda;
    }

    .links {
        margin-top: 20px;
        text-align: center;
    }

</style>
<h1>Registro de Equipo Tecnológico</h1>

<form th:action="@{/equipos/registrar}"
      method="post">

    <label>
        Nombre del Equipo:
    </label>

    <input type="text" name="nombre" required>

    <label>
        Tipo de Equipo:
    </label>

    <select name="tipo" required>

        <option value="">Seleccione un tipo</option>

        <option value="Laptop">Laptop</option>

        <option value="PC">PC</option>

        <option value="Servidor">Servidor</option>

    </select>

    <label>
        Código de Activo:
    </label>

    <input type="text" name="codigoActivo" required>


    <label>
        Fecha de Adquisición:
    </label>

    <input type="date" name="fechaAdquisicion" required>


    <button type="submit">Registrar Equipo </button>

</form>


<div class="mensaje"
     th:if="${mensaje}"
     th:text="${mensaje}">
</div>


<div class="links">

    <a th:href="@{/equipos}">
        Ver listado registrados
    </a>

    <br><br>

    <a th:href="@{/equipos/buscar}">
        Buscar equipo
    </a>

</div>